.App {
  font-family: sans-serif;
  text-align: center;
}

.jumbotron {
  background: rgba(0, 0, 0, 0);
}

.navbar-toggler {
  color: black;
  border-color: rgba(0, 0, 0, 0);
}

.navbar-toggler-icon {
  border-color: rgba(0, 0, 0, 0);
}

.card-header {
  text-align: center;
}
